/* Global Styles */
/* Base font and color settings */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.bg-green {
    background-color: #2ecc71;
}

.text-cyan-blue {
    color: #3498db;
}

/* Input Styles */
.x-input {
    background-color: #edf2ff;
    border: 1px solid #CED4DA;
    font-weight: 200;
}

.x-input:focus {
    box-shadow: 0 0 5px #3498db;
}

.adjust-height {
    height: calc(3.5rem + 2px);
    /* Adjust the value to match input height */
}

/* Inline Elements */
.inline-icon {
    display: inline-flex;
    vertical-align: top;
}

.btn-inline {
    display: flex;
    align-items: center;
}
.btn-inline .material-symbols-outlined {
    margin-left: 0.5rem; /* Adjust spacing between text and icon */
}

/* List Styles */
.ul-remove-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ul-display-inline {
    display: inline-block;
}

/* Card Styles */
.card-title {
    color: #3498db;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.active-card {
    border: 1px solid #2980b9;
    background-color: #edf2ff;
}

/* Pagination Styles */
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    margin: 0 2px;
    /* Consolidated style */
}

.pagination a.active {
    background-color: #2980b9;
    color: white;
    border: 1px solid #2980b9;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* Sticky Job Details Styles */
.sticky-job-details {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-height: 80vh;
}

.custom-scroll {
    overflow-y: auto;
    max-height: 80vh;
    box-sizing: border-box;
}

/* Footer Styles */
.footer {
    margin-top: auto;
    width: 100%;
    padding: 10px 0;
}

.brand-logo {
    height: 30px;
}

.brand-logo-sm{
    display: none;
}

/* Responsive Styles */
@media (max-width: 992px) {
    .brand-logo {
        max-width: 250px;
    }

    .card-title {
        font-size: 20px;
    }

    .sticky-job-details {
        display: none;
    }

    .profile-icon {
        margin-left: 25px;
    }

    .footer{
        display: none;
    }

    .top-navbar{
        display: none;
    }

    .brand-logo-sm{
        display: block;
    }
}

/* Table Styles */
.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 100%;
    border: 1px solid #ddd;
}

.styled-table thead tr {
    color: black;
    text-align: left;
    text-transform: uppercase;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #3498db;
}

/* Navigation Styles */
.nav-underline .nav-link {
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
    padding: 1rem 1.5rem;
    color: #333;
    font-weight: 500;
}

.nav-underline .nav-link:hover,
.nav-underline .nav-link.active {
    border-bottom-color: #3498db;
    background-color: #f5f5f5;
    color: #3498db;
}

.navbar-nav .dropdown-toggle::after {
    display: none;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* Centering the nav items */
.navbar-nav.center-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Making the navbar-brand logo larger */
.navbar-brand .brand-logo {
    max-height: 50px;
}


.job-title-cyan-blue {
    color: #3498db;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.active-side-menu {
    background-color: #3498db !important;
    color: white !important;
}

.active-side-menu small {
    color: white !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.list-group-item:hover {
    background-color: #dee3e6 !important;
}

.btn-green-cyan, .btn-green-cyan:hover{
    background-color: #2ecc71 !important;
    border-color: #2ecc71 !important;
    color: white;
}

/* custom.css */

/* Override primary color for buttons */
.btn-primary {
    background-color: #3498db !important;
    border-color: #3498db !important;
}

/* Override primary color for link colors */
.text-primary {
    color: #3498db !important;
}

/* Override primary color for background colors */
.bg-primary {
    background-color: #3498db !important;
}

/* Override primary color for border colors */
.border-primary {
    border-color: #3498db !important;
}

/* Override primary color for form controls */
.form-control:focus {
    border-color: #3498db !important;
    box-shadow: 0 0 0 .2rem rgba(52, 152, 219, .25) !important;
}


/* bottom nevigation */
.bottom-navbar {
    background-color: #2ecc71;
    /* Darker blue border */
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
    /* Enhanced shadow for depth */
}

.bottom-navbar .navbar-nav {
    width: 100%;
    justify-content: space-around;
    /* Evenly space items */
}

.bottom-navbar .nav-link {
    color: #ffffff;
    /* White text color */
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    /* Rounded corners */
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transition */
}

.bottom-navbar .nav-link.active {
    background-color: #0056b3;
    /* Darker blue background for active link */
    color: #ffffff;
    /* White text color for active link */
}

.bottom-navbar .nav-link:hover {
    background-color: #0056b3;
    /* Darker blue background on hover */
    color: #ffffff;
    /* White text color on hover */
}

.bottom-navbar .nav-link span {
    font-size: 24px;
    display: block;
}

.bottom-navbar .nav-link span.d-none {
    display: none;
}

/* Hide the default dropdown arrow */
.dropdown-toggle-apps{
    width: 40px; height: 40px; padding: 0;
}
.dropdown-toggle-apps::after {
    display: none;
}