/* Global Styles */
/* Base font and color settings */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.bg-green {
    background-color: #2ecc71;
}

.text-cyan-blue {
    color: #3498db;
}

/* Input Styles */
.x-input {
    background-color: #edf2ff;
    border: 1px solid #CED4DA;
    font-weight: 200;
}

.x-input:focus {
    box-shadow: 0 0 5px #3498db;
}

/* Inline Elements */
.inline-icon {
    display: inline-flex;
    vertical-align: top;
}

/* List Styles */
.ul-remove-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ul-display-inline {
    display: inline-block;
}

/* Welcome Banner Styles */
.welcome-banner {
    background-color: #2ecc71;
    color: white;
    padding: 70px 0;
    text-align: center;
    margin-bottom: 40px;
}

.welcome-banner h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.welcome-banner p {
    font-size: 1.5rem;
}

/* Button Styles */
.btn-primary,
.btn-primary:hover {
    background-color: #2ecc71;
    color: white;
}

.btn-primary {
    background-color: #3498db;
    color: white;
}

.btn-primary:hover {
    background-color: #2980b9;
}

/* Card Styles */
.card-title {
    color: #3498db;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.active-card {
    border: 1px solid #2980b9;
    background-color: #edf2ff;
}

/* Pagination Styles */
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    margin: 0 2px; /* Consolidated style */
}

.pagination a.active {
    background-color: #2980b9;
    color: white;
    border: 1px solid #2980b9;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* Sticky Job Details Styles */
.sticky-job-details {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-height: 80vh;
}

.custom-scroll {
    overflow-y: auto;
    max-height: 80vh;
    box-sizing: border-box;
}

/* Footer Styles */
.footer {
    margin-top: auto;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
}

.brand-logo {
    height: 30px;
}

/* Responsive Styles */
@media (max-width: 992px) {
    .brand-logo {
        height: 20px;
    }
    
    .card-title {
        font-size: 20px;
    }

    .welcome-banner {
        padding: 50px 0;
    }

    .welcome-banner h1 {
        font-size: 2rem;
    }

    .welcome-banner p {
        font-size: 20px;
    }

    .sticky-job-details {
        display: none;
    }

    .profile-icon {
        margin-left: 25px;
    }
}

/* Table Styles */
.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 100%;
}

.styled-table thead tr {
    background-color: #3498db;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #3498db;
}

/* Animation Styles */
.zoom-animation {
    transition: transform 0.3s ease-in-out;
}

.zoom-animation:hover {
    transform: scale(1.05);
}

/* Navigation Styles */
.nav-underline .nav-link {
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
    padding: 1rem 1.5rem;
}

.nav-underline .nav-link:hover,
.nav-underline .nav-link.active {
    border-bottom-color: #3498db;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar-nav .dropdown-toggle::after {
    display: none;
}

.job-title-cyan-blue {
    color: #3498db;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}